
html {
	min-height: 100%;
}

body {
	background-image: url('bg_bluetint.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	color: #fff;
	margin: 0;
	padding: 20px;
}

main {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, a {
	letter-spacing: 0.07em;
	line-height: 1.4em;
}

main p {
	margin-bottom: 2.5em;
}

h1 img {
	width: 6em;
}

h2 {
	font-size: 1.8em;
}
ul {
	padding-left: 0;
}

.start li {
	list-style: none;
	display: inline-block;
	margin-left: 2em;
	margin-right: 2em;
}

.start li a {
	border: 1px solid #fff;
	padding: 8px;
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	width: 130px;
	display: inline-block;
}

footer {
	background-color: #008C9E;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer li {
	list-style: none;
	display: inline-block;
	margin-right: 1em;
	vertical-align: middle;
}

footer img {
	margin-left: 0.2em;
	margin-right: 0.2em;
	height: 2.5em;
}

.menu-item {
	font-size: 0.9em;
}

.menu-item > a {
	color: #ffffff;
}

.imprint h2,
.imprint p {
	text-align: left;
}

.imprint h2 {
	font-size: 1.4em;
}

#fsHeaderImage {
    text-align: center;
}

#fsHeaderImage img {
    height: 192px;
    width: 181px;
}

#fsFooterImage {
	background-color: #008C9E;
	bottom: 0;
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	text-align: center;
}

#fsFooterImage::before {
	content: 'An Initiative of ';
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	white-space: nowrap;
}

#fsFooterImage img {
	display: inline-block;
	height: 63px;
	vertical-align: middle;
	width: 320px;
}

@media (min-width: 615px) {
	main {
		width: 35em;
	}
}

@media (max-width: 614px) {
	body {
		font-size: 75%;
	}
	h1 img {
		width: 5em;
	}

	h1, h2 {
		margin-top: 0;
		margin-bottom: 0;
	}

	main h2, main p {
		text-align: left;
	}
	footer {
		height: auto;
	}
	.start li {
		margin-bottom: 2em;
	}
	footer li:first-child, {
		margin-bottom: 1em;
	}
}
